@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Util*/
.bar{
  object-fit: cover;
  display: block;
  width: 100%;
}
.tech{
  margin-bottom: 80px;
}
.tech h2{
  margin: 25px 0 0 0;
  color: #232323;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 1000;
  padding: 5px 0 5px 0;
}
.tech h4{
  margin-bottom: 20px;
  color: #22178d;
  font-family: Poppins, sans-serif;
  font-style: normal;
  line-height: 1.3;
  font-weight: 600;
}

/* Header CSS */
.logo{
  position: relative;
  float: left;
  margin-top: 1.644vw;
  margin-bottom: 1.644vw;
  margin-left: 1.644vw;
  width:4.602vw;
}
.heading h1{
  position: relative;
  float: left;
  font-family: Bebas Neue, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 1.972vw;
  padding-top:1.742vw;
  padding-bottom: 1.742vw;
  padding-left: 0.657vw;
  margin: 0;
}
.navigation{
  position: relative;
  float: right;
  padding-top: 2.876vw;
  padding-bottom: 2.876vw;
  padding-right: 1.644vw;
  font-family: Bebas Neue, fantasy;
  font-size: 1.644vw;
  text-align: center;
}
.navigation ul{
  margin: 0;
}
.navigation  ul  li{
  display: inline;
  margin-left:0.657vw;
  margin-right: 0.657vw;
}
.navigation ul li a:link{
  text-decoration: none;
  color: #ededed;
  padding-left: 0.329vw;
  padding-right: 0.329vw;
  letter-spacing: 0.329vw;
}
.navigation ul li a:visited {
  color: white;
}
.navigation ul li a:hover {
  color: #5f30e2;
}

.navigation ul .submenu{
  position: absolute;
  width: fit-content;
  left:17%;
  padding:0;
  background-color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 20px 45px #00000020;
  border-radius: 10px;
  margin-top: -10.191vw;
  z-index: -999;
  opacity: 0;
  transition: all ease 0.5s;
}
.navigation ul li:hover .submenu{
  z-index: 99;
  opacity: 1;
  margin-top: 0;
}
.navigation ul .submenu li{
  font-family: Bebas Neue, sans-serif;
  text-shadow: none;
  text-align: center;
  font-size: 1.183vw;
  border-bottom: 1px solid grey;
  padding: 0.657vw 1.315vw;
  display: block;
  width: 100%;
  text-decoration: none;
  margin: 0;
}
.navigation ul .submenu li:last-child{
  border-bottom: none;
}

/*Footer CSS*/
.footer{
  padding:26.5px;
}
.footer h1 {
  position: relative;
  float: left;
  font-family: Bebas Neue, sans-serif;
  font-style: normal;
  padding-left: 0.657vw;
  text-decoration: none;
  padding-bottom: 0.657vw;
  font-size: 1.971vw;
  margin: 0;
}
.footer .logo{
  margin:0;
}
.footer p{
  font-size: 14px;
}
.footer svg{
  float: right;
  width:35px;
  margin: 10px;
}
.footer a:link{
  color: #ededed;
}
.footer a:visited{
  color: #ededed;
}
.footer a:hover{
  color: #5f30e2;
}

/*HomePage*/
.gradient{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
  top: 0;
  left: 15%;
}
.background-img{
  position: relative;
}
#ImgText {
  position: absolute;
  float: right;
  width: fit-content;
  top: 20%;
  left: 50%;
  padding-left: 1.315vw;
  padding-right: 1.315vw;
}
#ImgText p{
  font-size: 1.578vw;
  padding-left: 0.329vw;
  padding-right:0.329vw;
  margin: 0;
  width: fit-content;
  font-family: Bebas Neue, sans-serif ;
  color: rgba(0, 0, 0, 100);
  background-color: rgba(255, 255, 255, 0.5);
}
#ImgText h1,h2{
  padding-top: 5px;
  padding-bottom: 15px;
  color: rgba(0, 0, 0, 100);
  font-family: Anton, system-ui;
  text-shadow: none;
}
#ImgText h1{
font-size: 4vw;
}
#ImgText h2{
  font-size: 3vw;
}
#HPContent{
  width: fit-content;
  padding:80px;
}
#HPContent img{
  position: relative;
  float: right;
  width: 100%;
}
#HPContent h6 {
  font-size: 16px;
  font-weight: 600;
  color: #05467c;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-family: Poppins, sans-serif;
  font-style: normal;
}
#HPContent h2 {
  color: #232323;
  font-family: Poppins, sans-serif;
  font-style: normal;
  line-height: 1.3;
  font-weight: 700;
  transition: .5s;
  text-transform: capitalize;
  font-size: 39px;
  margin-bottom: 20px;
}
#HPContent h2  span {
  text-transform: capitalize;
  color: #05467c;
}
#HPContent p {
  font-family: Poppins, sans-serif;
  color: #6d6d6d;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
}

/*Services*/
#Services section .container a{
  font-size:16px;
  color: #1f1f1f;
  line-height: 28px;
  text-decoration: none;
}
#Services section .container a:hover .box{
  box-shadow: 0 0 5px 5px #5f30e2;
}
.box{
  width:30%;
  float:left;
  background-color: #ededed;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px grey;
  margin: 40px 20px;
}
.box img{
  width:100%;
  height:200px;
  border-radius: 5px 5px  0 0;
}
.box h3{
  text-align: center;
  margin-top:15px;
}
.box p{
  font-weight: normal;
  font-size:16px;
  line-height: 28px;
  height:40%;
  padding: 0 15px 15px 15px;
  overflow: hidden;
}

/*IT-Consultation , Man-Consultation , Arch-Consultation, Aboutus*/
#IT-Consultation .background-img .gradient,#Man-Consultation .background-img .gradient,#Arch-Consultation .background-img .gradient, #AboutUs .background-img .gradient, #ContactUs .background-img .gradient{
  position: absolute;
  height: 100%;
  width: 75%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  top: 0;
  left: 0;
}
#IT-Consultation .background-img h3, #Man-Consultation .background-img h3, #Arch-Consultation .background-img h3, #AboutUs .background-img h3, #ContactUs .background-img h3{
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 45px;
  color: #fff;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  line-height: 1.3;
  font-weight: 700;
}
#IT-Consultation section .container, #Man-Consultation section .container,#Arch-Consultation section .container,#AboutUs section .container,#ContactUs section .container {
  padding: 80px 80px 80px 80px;
}
#IT-Consultation section p, #Man-Consultation section p,#Arch-Consultation section p,#AboutUs section p{
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #6c757d;
  letter-spacing: 0.5px;
}

#AboutUs .container h2{
  color: #232323;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 1000;
  padding: 5px 0 5px 0;
}
#AboutUs .container h4{
  margin-bottom: 20px;
  color: #22178d;
  font-family: Poppins, sans-serif;
  font-style: normal;
  line-height: 1.3;
  font-weight: 600;
}
#AboutUs .container .para{
 font-size: 20px;
}

#ContactUs .form-class h3{
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin-bottom: 25px;
  line-height: 1.3;
  font-weight: 350;
  font-size: 35px;
  color: black;
}
#ContactUs form button{
  width:fit-content;
}
#ContactUs form select{
  text-align: center;
  background-color: #1f1f1f;
  color: #ededed;
}
#ContactUs .form-class{
  box-shadow: 0 0 5px 0 grey;
  background: #fff;
  padding: 27px 80px 27px;
  border-radius: 20px;
}
#ContactUs form input{
  font-family: Poppins, sans-serif;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  color: black;
}
#ContactUs form textarea{
  font-family: Poppins, sans-serif;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: black;
}
#ContactUs form button:hover{
  background-color: #5f30e2;
  color: red;
}
#ContactUs .details{
  box-shadow: 0 0 5px 0 grey;
  background: rgb(44, 41, 41);
  padding: 80px 80px;
  border-radius: 20px;
  color: #ededed;
  text-shadow: none;
}
#ContactUs .details img{
  width: 75px;
}
#ContactUs .details p{
  padding-top: 5px;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
}
#ContactUs .details .row:nth-child(2){
  margin-top: 80px;
  margin-bottom: 80px;
}
#validatename , #validatephone, #validateemail,#validatedetails{
  font-weight: bold;
  color: red;
  display: none;
}